 {% extends 'base.html' %}

{% block title%}
Enregistrement d'un client
{% endblock%}

{% block content %}
	<div class="container">
		<div class="col-md-12 mt-5">
			{% if messages %}
			{% for message in messages %}
			<div class="alert alrt-danger text-center text-danger">
				<strong>{{message}}</strong>
			</div>
			{% endfor %}
			{% endif %}
			<form method="POST" novalidate> {% csrf_token %}
				<div class="card">
					<div class="card-header text-center">
						<i class="fas fa-user-lock"></i>
						Enregistrement du client
					</div>
					<div class="card-body">
						{{form}}
					<div class="card-footer">
						<button class="btn btn-primary btn-block"> Enregistrer </button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
	
</script>
{% endblock%}